SPRING_PROFILES_ACTIVE=docker

# Database
DB_HOST=mysql
DB_NAME=traveljournal_db
DB_USERNAME=root
DB_PASSWORD=root

# Base URL
APP_BASE_URL=http://localhost:8080

# JWT
JWT_SECRET_KEY=dGhpcy1pcy1hLWRvY2tlci1zYW1wbGUtc2VjcmV0LWtleQ==
JWT_ACCESS_TOKEN_EXPIRATION=1800000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# AWS
AWS_ACCESS_KEY=test-access-key
AWS_SECRET_KEY=test-secret-key
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=test-bucket
AWS_UPLOAD_PATH=source
AWS_RESIZED_PATH=resized
AWS_DEFAULT_PROFILE_IMAGE=default/profile/default1.png

# KAKAO
KAKAO_CLIENT_ID=test
KAKAO_CLIENT_SECRET=test
KAKAO_REDIRECT_URI=http://localhost:3000/oauth/kakao/callback
KAKAO_TOKEN_URI=https://kauth.kakao.com/oauth/token
KAKAO_USER_INFO_URI=https://kapi.kakao.com/v2/user/me
KAKAO_ADMIN_KEY=test

# APPLE
APPLE_TEAM_ID=test
APPLE_KEY_ID=test
APPLE_PRIVATE_KEY_PATH=test
APPLE_REDIRECT_URI=http://localhost:3000/oauth/apple/callback
APPLE_SERVICES_ID=test
APPLE_IOS_BUNDLE_ID=test
APPLE_ANDROID_BUNDLE_ID=test

# GOOGLE
GOOGLE_CLIENT_ID=test
GOOGLE_CLIENT_SECRET=test
GOOGLE_SCOPE=openid,email,profile
GOOGLE_REDIRECT_URI=http://localhost:8080/auth/google/callback
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_TEST_REDIRECT_URI=http://localhost:3000/auth/google/callback